.media-container-row {
    flex-wrap: wrap;
    justify-content: left;
}

.my-2 {
    margin-top: 1.25rem !important;
}

.pricing {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-price {
    @media only screen and (min-width: 768px) {
        height: 160px;
    }
}

.plan-body {
    @media only screen and (min-width: 768px) {
        height: 200px;
    }
}

.league-paragraph {
    text-decoration: underline;
    margin-bottom: .5rem;
}

.media-container-row {
    align-items: stretch;
}

.dropdown-container {
    display: flex;
    justify-content: flex-end;
}

#dropdownMenuButton {
    background-color: #767676 !important;
    border-color: #767676 !important;
}

#dropdownMenuButton:focus {
    background-color: #2e2e2e !important;
    border-color: #2e2e2e !important;
}

.cid-seqhxg1K8q {
    padding-top: 20px;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item:hover {
    background-color: #767676;
    color: white;
}

.dropdown-item:first-child {
    padding-top: .5rem;
}


.dropdown-item:last-child {
    padding-top: .5rem;
}

.display-1 {
    font-size: 3.5rem;
}