.media-container-row {
    flex-wrap: wrap;
    justify-content: left;
}

.my-2 {
    margin-top: 1.25rem !important;
}

.pricing {
    height: 450px;
}

.league-paragraph {
    text-decoration: underline;
    margin-bottom: .5rem;
}