<section class="header1 cid-sekpj2De6R mbr-parallax-background" id="header1-4">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(7, 59, 76);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    SPI-BET-PREDICTION</h1>
                
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Statistikbasierte unabhängige Wettempfehlungen</p>
                
            </div>
        </div>
    </div>

</section>