<section class="mbr-section article content10 cid-sekpdlPZsl" id="content10-3">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 57%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">
                Ziel der Website ist es Wettspielern einen statistik- und datenbasierten Ansatz zu ihren nächsten Wetten und Wetteinsätzen zu bieten.
                Auf Basis von ESPN's Soccer Power Index und den daraus vorhergesagten Gewinnwahrscheinlichkeiten der Nachrichtenplattform FiveThirtyEight wird errechnet welche Wettquote mindestens notwendig ist um die Gesamtheit seiner platzierten Wetten auf lange Sicht mit einem Gewinn zu verlassen.
                Die Vorhersagen basieren auf der Analyse von mehr als 30.000 historischen Fußballspielen seit 2016 und gelten ohne Gewähr.
                Für eine detailliertere Beschreibung der Berechnungsmethode lesen Sie <a href="https://blog.cratory.de/soccer-prediction-mechanism.md" target="_blank">
                    hier</a>.</div>
                
            <hr class="line" style="width: 57%;">
        </div>
    </div>
</section>